.navbar{
  background-color: #009FFF
}

.links{
  text-decoration: none;
  color: white;
}
.probandoFuente{
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: #FF339C;
}


.links:hover{
  font-family: "Kalam", cursive;
   transition: 1.2s;
   color: #FF339C;
   font-weight: 400;
   font-size: 25px;


}

.menu{
    background-color: red;
}

h1{
  color: white;
  margin-left: 5px;
}
