<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <div class="divTitulo">
    <p class="probandoFuente">Tienda online</p>
  </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li>
          <a class="px-4 links" routerLink="/app-productos">
            Listar Productos
          </a>
        </li>
        <li>
          <a class="px-4 links" routerLink="/app-create-product">
            Crear producto
          </a>
        </li>

        <li>
          <a class="px-4 links" routerLink="/app-carrito"> Carrito </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
