.navbar{
  background-color: #009FFF
}

.links{
  text-decoration: none;
  color: white;
}

.links:hover{
  font-size: 20px;
   transition: 1.2s;
   color:#ff4500;
   font-weight: 400;


}

.menu{
    background-color: red;
}

h1{
  color: white;
  margin-left: 5px;
}
