 #img-carrito{
  width: 90%;
  margin-left: 5%;
  height: 130px;

}


.card-productos{
  height: 400px;
}

.table-carrito{
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;

}
.td-carrito{
  padding-top: 50px;
}


.itemCartTotal{
  margin-left: 20%;
}


.btn-comprar{
  margin-right: 20%;
}

#img-productos{
  width: 90%;
  margin-left: 5%;
  height: 150px;

}
