.container{
  width: 50%;
  margin-left: 25%;
}

.titulo-form{
  text-align: center;
}


.btn-agregar{
  width: 30%;
  margin-left: 35%;
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
